* {
    font-family: vazir;
}

.header_color {
    background-color: #ffffff;
}

.header_border {
    border-bottom: 2px solid #008fe0;
}

.header_logo {
    width: 2cm;
    height: 2cm;
}

.header_text {
    font-family: vazir;
    font-size: 8mm;
    color: #1fa5ff;
    cursor: pointer;
}

.header_text {
    font-family: vazir;
    font-size: 8mm;
    color: #0f9dfc;
    cursor: pointer;
}

.header_logout_text {
    font-family: vazir;
    font-size: 8mm;
    color: #ff595e;
    cursor: pointer;
}

.header_logout_text:hover {
    font-family: vazir;
    font-size: 8mm;
    color: #ff2d34;
}

.header_logout {
    float: left;
    cursor: pointer;
}

.header_logout_icon {
    width: 9mm;
    height: 9mm;
    float: left;
    margin-top: 20%;
    margin-left: 20%;
    cursor: pointer;
}

.footer_color {
    background-color: #1a4c89;
}

.footer_text {
    font-family: vazir;
    font-size: 6mm;
    color: #ffffff;
}

.footer_icon_size {
    width: 1cm;
    height: 1cm;
}

.copy_right_icon_size {
    width: 8mm;
    height: 8mm;
}

.invert_image_color {
    filter: invert(100%);
}