.login_form {
    border: 3px solid #f1f1f1;
}

.login_input{
    width: 100%;
    padding: 12px 20px;
    margin: 80px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_button:hover {
    opacity: 0.8;
}

.login_img_container {
    text-align: center;
    margin: 24px 0 12px 0;
}

.login_avatar {
    width: 10%;
    border-radius: 30%;
}

.login_container {
    padding: 16px;
}